<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/img/ourIcon.ico" type="image/x-icon" />
    <title >SHUE | 让考试更简单</title>
    <style>
        body { font-family: 'Montserrat'; line-height: 1.7; background-color: #34BC9D; color: #fff; }
        .container { margin: 150px auto; max-width: 640px; }
        footer { height: 1600px; background-color: #222; color: #fff; text-align: center; line-height: 1600px;}
        footer
    </style>
</head>

<body>
<div class="container">
    <article id="article">
        <h1 id="mainTitle" style="font-size: 36px"></h1>
        <span id="time"></span> &nbsp;
        <span id="writer" style="color:rebeccapurple;"></span> &nbsp;
        <span id="topicViews"></span>
        <!-- jQuery_download_side -->
        <hr/>
        <ins class="adsbygoogle"
             style="display:inline-block;width:300px;height:250px"
             data-ad-client="ca-pub-2783044520727903"
             data-ad-slot="5747103992" ></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

        <input type="hidden" id="getTitle" th:value="${topic.getTopicTitle()}">
        <input type="hidden" id="getContent" th:value="${topic.getDecription()}">
        <input type="hidden" id="getTime" th:value="${topic.getCreateTime()}">
        <input type="hidden" id="getWriter" th:value="${user.getUserName()}">
        <input type="hidden" id="getTopicViews" th:value="${topic.getTopicViews()}">
    </article>

</div>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/jquery/jquery.readingbar.js}"></script>
<script>
    $('article').readingbar({
        backgroundColor:  '#222',
        height:           10
    });
    $(function () {

        $("#time").html($("#getTime"+"    ").val());
        $("#writer").html($("#getWriter"+"  ").val());
        $("#topicViews").html("浏览次数  "+$("#getTopicViews").val());
        $("#mainTitle").html($("#getTitle").val());
        $("#article").append($("#getContent").val());
    });
</script>
</body>
</html>
