<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>CSS 3D Cube</title>
    <link rel="stylesheet" href="/firstPage/bg/css/style.css">

</head>

<body>
<section id= "timeline">
    <ul class= "line">
        <li>
            <div class="cont">
                <h3>编写文章</h3>
                <p>
                    点击 "写" 即可使用ueditor编辑器分享你的知识
                </p>
                <time >16 Feb, 2019</time>
            </div>
        </li>
        <li>
            <div class="cont">
                <h3>我的收藏</h3>
                <p>
                    点击"我的收藏"即可查看已收藏的文章
                </p>
                <time >16 Feb, 2019</time>
            </div>
        </li>
        <li>
            <div class="cont">
                <h3>发现</h3>
                <p>
                    想要了解更多精美文章？点击"发现"即可
                </p>
                <time >16 Feb, 2019</time>
            </div>
        </li>
        <li>
            <div class="cont">
                <h3>搜索</h3>
                <p>
                    文章太多怎么办？点击"搜索"即可按关键字查找.....
                </p>
                <time >16 Feb, 2019</time>
            </div>
        </li>
        <li>
            <div class="cont">
                <h3>关于你</h3>
                <p>
                    默认头像不好看怎么办？昵称太非主流怎么办？点击"设置"即可修改个人信息
                </p>
                <time >16 Feb, 2019</time>
            </div>
        </li>
    </ul>

</section>

<!--<section class="container">-->
    <!--<div class="cube">-->
        <!--<div class="front"><a href="#front">自由</a></div>-->
        <!--<div class="back"><a href="#back">分享</a></div>-->
        <!--<div class="right"><a href="#right">开源</a></div>-->
        <!--<div class="left"><a href="#left">高绩点</a></div>-->
        <!--<div class="top"><a href="#top">SHUE</a></div>-->
        <!--<div class="bottom"><a href="#bottom">SHUE</a></div>-->
    <!--</div>-->
<!--</section>-->
</body>
</html>
